{% extends 'base.html' %}

{% block pagetitle %}Movie Ledger | {{ movie["Title"] }}{% endblock %}

{% block pagecontent %}

{% if request.referrer %}
    {% if "/movie-search" in request.referrer %}
        <a href="#" onclick=window.history.back()>Go Back</a>
    {% else %}
        <a href="{{ request.referrer }}">Go Back</a>
    {% endif %}
{% endif %}

<h1>{{ movie["Title"] }}</h1>
<ul class="ml__movie-details">
    <li class="ml__movie-details--item"><img src="{{ movie['Poster'] }}" /></li>
    <li class="ml__movie-details--item">Year: {{ movie["Year"] }}</li>
    <li class="ml__movie-details--item">Rated: {{ movie["Rated"] }} </li>
    <li class="ml__movie-details--item">Released: {{ movie["Released"] }}</li>
    <li class="ml__movie-details--item">Runtime: {{ movie["Runtime"] }}</li>
    <li class="ml__movie-details--item">Genre: {{ movie["Genre"] }}</li>
    <li class="ml__movie-details--item">Actors: {{ movie["Actors"] }}</li>
    <li class="ml__movie-details--item">Plot: {{ movie["Plot"] }}</li>
</ul>
{% if not movie_in_db %}
<form id="ml__add-movie-form" action="/movie/{{ movie['imdbID'] }}" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        {{ field }}    
    {% endfor %}
    <button type="submit">Add to My List</button>
</form>
{% else %}
<h3>Movie is in your list!</h3>
{% endif %}

{% endblock %}