{% extends 'base.html' %}

{% block pagetitle %}Movie Ledger | Find a Movie{% endblock %}

{% block pagecontent %}
<h1>Movie Search</h1>
{% if request.referrer and "/signup" in request.referrer %}
    <div class="ml__welcome-note ml__welcome-note--new-user">
        <h2>Welcome, {{ user.username }}!</h2>
        <p>
            The Movie Ledger is  place to save all your viewed
            movies and series, regardless of platform.
        </p>
        <p>
            Use the form below to search for a movie or series 
            and add it to your ledger!  You can mark items in your 
            ledger as a favorite, and sort items based on year
            or title!
        </p>
        <p class="ml__welcome-note--note">
            NOTE: This notice will only be shown once.
        </p>
    </div>
{% endif %}
<p>Enter a term below to find a movie or series by title!</p>
<form id="movieSearchForm" class="ml__search-form">
    <div>
        <label for="term">Search Term</label>
        <input id="term" name="term" required type="text" value="">
    </div>
    <button id="submitButton" type="submit">Search</button>
</form>

{% if results %}
    <div id="searchResults">
        <h2>Search results for "{{ search_term }}"</h2>

        {% if results.Search %}
        <ul class="ml__search-results">
            {% for movie in results.Search %}
                <li class="ml__search-result">
                    <a href="/movie/{{ movie.imdbID}}">
                        <img class="ml__search-result--image" src="{{ movie.Poster}}">
                        <h3 class="ml__search-result--title">{{ movie.Title }}</h3>
                        <p class="ml__search-result--year">({{ movie.Year }})</p>
                    </a>

                    {% if movie.ml_inList %}
                        <span class="ml__search-result--movie-in-list">Already in My List</span>
                    {% else %}
                        <button 
                            class="ml__search-result--add-button" 
                            data-id="{{ movie.imdbID}}" 
                            data-title="{{ movie.Title}}" 
                            data-year="{{ movie.Year}}" 
                            data-img="{{ movie.Poster}}">
                            Add to My List
                        </button>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
        <div class="ml__search-results--pagination-container">
            Pagination Here
        </div>
        {% else %}
            <h3>{{ results.Error }}</h3>
        {% endif %}

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/movieSearch.js"></script>
{% endif %}

{% endblock %}