{% extends 'base.html' %}

{% block pagetitle %}Movie Ledger | Profile{% endblock %}

{% block pagecontent %}
<h1>Welcome, {{ user.username }}!</h1>
<a href="/movie-search">Search for a movie to add!</a>
<h2>My Movie Ledger</h2>
<ul id="myMovieList" class="ml__my-movies">
    {% for movie in user.movies %}
        <li class="ml__my-movies--item">
            <a href="/movie/{{ movie['imdb_id'] }}">
                <img class="ml__my-movies--movie-image" src="{{ movie.imdb_img }}">
                <div class="ml__my-movies--movie-info-container">
                    <h3 class="ml__my-movies--movie-title">{{ movie.title }} </h3>
                    <p class="ml__my-movies--movie-year">{{ movie.year }}</p>
                </div>
            </a>
            <button class="ml__my-movies--remove-button" data-id="{{ movie['imdb_id'] }}">Remove</button>
        </li>
    {% endfor %}
</ul>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/js/profile.js"></script>
{% endblock %}